<html>
    <head>
        <title>
           <%= title %>
        </title>

        <%- style %>
    </head>

<body>
    <%-  include('_header'); %>
     <%- body %>
    <%-  include('_footer'); %>

    <%- script %>
</body>




</html>